/* ESTILOS LIDER TECH */
@import 'css/estilos-lider/buttons.css';        /* ESTILOS LIDER TECH */
@import 'css/estilos-lider/headersPages.css';   /* ESTILOS LIDER TECH */
@import 'css/estilos-lider/images.css';         /* ESTILOS LIDER TECH */
@import 'css/estilos-lider/espaciados.css';     /* ESTILOS LIDER TECH */
@import 'css/estilos-lider/scrollBar.css';      /* ESTILOS LIDER TECH */
@import 'css/estilos-lider/logos.css';          /* ESTILOS LIDER TECH */


/* TEMA ANGULAR MATERIAL */
@import 'css/tema/colores.css';         /* TEMA ANGULAR MATERIAL */
@import 'css/tema/elevacion.css';       /* TEMA ANGULAR MATERIAL */
@import 'css/tema/esquinas.css';        /* TEMA ANGULAR MATERIAL */
@import 'css/tema/fuentes.css';         /* TEMA ANGULAR MATERIAL */
@import 'css/tema/opacidades.css';      /* TEMA ANGULAR MATERIAL */



/* Configuración base y reset */
html, body { height: 100%; margin: 0; }





/* Variables de color (PRIORIDAD ALTA) */
:root {
    --primary: #0054e9;
    --primary-rgb: 0,84,233;
    --primary-contrast: #ffffff;
    --primary-contrast-rgb: 255,255,255;
    --primary-shade: #004acd;
    --primary-tint: #1a65eb;

    --secondary: #0163aa;
    --secondary-rgb: 1,99,170;
    --secondary-contrast: #ffffff;
    --secondary-contrast-rgb: 255,255,255;
    --secondary-shade: #015796;
    --secondary-tint: #1a73b3;

    /* Resto de variables de color... */
}



.top-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}



.sidenav-container {
    height: 100%;
}

.imageGalery {
    width: 100%;
    height: fit-content;
}





